---
layout: default
title: Demo
---

<article class="container mt-large mb-large">
    <h2 class="text-large tit-with-icon"> <span class="ico-layout"></span>Layout</h2>
</article>
  
<div class="container">
    <h2 class="mb-half text-half">Column Track</h2>
    <div class="grid">
        <div class="grid-12 grid-md-12">
            {{>card-demo}}
        </div>
        <!-- <div class="grid-12 grid-md-4">
            {{>card-demo}} 
        </div>
        <div class="grid-12 grid-md-4">
            {{>card-demo}}
        </div>  -->
    </div>
</div>

<h2 class="my-half text-half container">Grid layout</h2>

<div class="grid-demo container mt-base">
    <!-- {{>card-demo}} -->
    <img src="https://images.pexels.com/photos/6224/hands-people-woman-working.jpg" alt="Personas trabajando">
    <img src="https://images.pexels.com/photos/6224/hands-people-woman-working.jpg" alt="Personas trabajando">
    <img src="https://images.pexels.com/photos/6224/hands-people-woman-working.jpg" alt="Personas trabajando">
    <img src="https://images.pexels.com/photos/6224/hands-people-woman-working.jpg" alt="Personas trabajando">
    <img src="https://images.pexels.com/photos/6224/hands-people-woman-working.jpg" alt="Personas trabajando">
    <img src="https://images.pexels.com/photos/6224/hands-people-woman-working.jpg" alt="Personas trabajando">
    <img src="https://images.pexels.com/photos/6224/hands-people-woman-working.jpg" alt="Personas trabajando">
    <img src="https://images.pexels.com/photos/6224/hands-people-woman-working.jpg" alt="Personas trabajando">
    <img src="https://images.pexels.com/photos/6224/hands-people-woman-working.jpg" alt="Personas trabajando">
    <img src="https://images.pexels.com/photos/6224/hands-people-woman-working.jpg" alt="Personas trabajando">
    <img src="https://images.pexels.com/photos/6224/hands-people-woman-working.jpg" alt="Personas trabajando">
    <img src="https://images.pexels.com/photos/6224/hands-people-woman-working.jpg" alt="Personas trabajando">
    <img src="https://images.pexels.com/photos/6224/hands-people-woman-working.jpg" alt="Personas trabajando">
    <img src="https://images.pexels.com/photos/6224/hands-people-woman-working.jpg" alt="Personas trabajando">
    <img src="https://images.pexels.com/photos/6224/hands-people-woman-working.jpg" alt="Personas trabajando">
    <img src="https://images.pexels.com/photos/6224/hands-people-woman-working.jpg" alt="Personas trabajando">
    <img src="https://images.pexels.com/photos/6224/hands-people-woman-working.jpg" alt="Personas trabajando">
    <img src="https://images.pexels.com/photos/6224/hands-people-woman-working.jpg" alt="Personas trabajando">
    <img src="https://images.pexels.com/photos/6224/hands-people-woman-working.jpg" alt="Personas trabajando">
    <img src="https://images.pexels.com/photos/6224/hands-people-woman-working.jpg" alt="Personas trabajando">
    <img src="https://images.pexels.com/photos/6224/hands-people-woman-working.jpg" alt="Personas trabajando">
    <img src="https://images.pexels.com/photos/6224/hands-people-woman-working.jpg" alt="Personas trabajando">
    <img src="https://images.pexels.com/photos/6224/hands-people-woman-working.jpg" alt="Personas trabajando">
    <img src="https://images.pexels.com/photos/6224/hands-people-woman-working.jpg" alt="Personas trabajando">
    <img src="https://images.pexels.com/photos/6224/hands-people-woman-working.jpg" alt="Personas trabajando">
    <img src="https://images.pexels.com/photos/6224/hands-people-woman-working.jpg" alt="Personas trabajando">
    <img src="https://images.pexels.com/photos/6224/hands-people-woman-working.jpg" alt="Personas trabajando">
    <img src="https://images.pexels.com/photos/6224/hands-people-woman-working.jpg" alt="Personas trabajando">
</div>
