---
layout: default
title: Home
---

<!-- Colors -->

{{>colors}}

<!-- Layout Grid -->

{{>grid}}

<!-- Buttons -->

{{>buttons}}

<!-- Text -->

{{>text}}

<!-- forms -->

{{>forms}}

<!-- collapsible -->

{{>collapsible}}

<!-- utilities -->

{{>utilities}}

<!-- Color Split -->

{{>color-split}}

<!-- simple-components -->
{{>simple-components}}

<!-- Alerts -->
{{>alerts}}

<!-- Modals -->
{{>modals}}

<!-- Cards -->
{{>cards}}

<!-- Carousel -->
{{>carousel}}
