<article class="container mt-large mb-large">
   <h2 class="tit-with-icon text-large"><span class="ico-touch"></span>Alerts</h2>
</article>

<section class="grid container">
   <div class="grid-12 mb-medium">
      <p class="mb-base"> SIMPLE </p>
      <div class="alert alert-bg-error" role="alert"> This is an error alert — check it out! </div>
      <div class="alert alert-bg-success" role="alert"> This is an success alert — check it out! </div>
      <div class="alert alert-bg-warning" role="alert"> This is an warning alert — check it out! </div>
      <div class="alert alert-bg-info" role="alert"> This is an info alert — check it out! </div>
   </div>
</section>

<section class="grid container">
   <div class="grid-12 mb-medium">
      <p class="mb-base"> SIMPLE WHIT ICON </p>
      <div class="alert alert-bg-error whit-icon" role="alert"> This is an error alert — check it out! </div>
      <div class="alert alert-bg-success whit-icon" role="alert"> This is an success alert — check it out! </div>
      <div class="alert alert-bg-warning whit-icon" role="alert"> This is an warning alert — check it out! </div>
      <div class="alert alert-bg-info whit-icon" role="alert"> This is an info alert — check it out! </div>
   </div>
</section>

<section class="grid container">
   <div class="grid-12 mb-medium">
      <p class="mb-base"> DESCRIPTION </p>
      <div class="alert alert-bg-error whit-icon" role="alert"> 
         <strong class="alert__title">Description info text</strong>
         This is an error alert — check it out! 
      </div>
      <div class="alert alert-bg-success whit-icon" role="alert"> 
         <strong class="alert__title">Description info text</strong>
         This is an success alert — check it out! 
      </div>
      <div class="alert alert-bg-warning whit-icon" role="alert"> 
         <strong class="alert__title">Description info text</strong>
         This is an warning alert — check it out! 
      </div>
      <div class="alert alert-bg-info whit-icon" role="alert"> 
         <strong class="alert__title">Description info text</strong>
         This is an info alert — check it out!
      </div>
   </div>
</section>

<section class="grid container">
   <div class="grid-12 mb-medium">
      <p class="mb-base"> WITH CLOSE </p>
      <div class="alert alert-bg-error" role="alert">
         <span class="ico-close" data-close="close"></span>
         This is an error alert — check it out! 
      </div>
      <div class="alert alert-bg-success" role="alert"> 
         <span class="ico-close" data-close="close"></span>
         This is an success alert — check it out! 
      </div>
      <div class="alert alert-bg-warning" role="alert"> 
         <span class="ico-close" data-close="close"></span>
         This is an warning alert — check it out! 
      </div>
      <div class="alert alert-bg-info" role="alert"> 
         <span class="ico-close" data-close="close"></span>
         This is an info alert — check it out! 
      </div>

      <hr class="mb-medium mt-medium" />

      <div class="alert alert-bg-error" role="alert"> 
         <span class="ico-close" data-close="close"></span>
         <strong class="alert__title">Description info text</strong>
         This is an error alert — check it out! 
      </div>
      <div class="alert alert-bg-success" role="alert"> 
         <span class="ico-close" data-close="close"></span>
         <strong class="alert__title">Description info text</strong>
         This is an success alert — check it out! 
      </div>
      <div class="alert alert-bg-warning" role="alert"> 
         <span class="ico-close" data-close="close"></span>
         <strong class="alert__title">Description info text</strong>
         This is an warning alert — check it out! 
      </div>
      <div class="alert alert-bg-info" role="alert"> 
         <span class="ico-close" data-close="close"></span>
         <strong class="alert__title">Description info text</strong>
         This is an info alert — check it out!
      </div>
   </div>
</section>

<article class="container mt-large mb-large">
   <h2 class="tit-with-icon text-large"><span class="ico-touch"></span>SnackBar</h2>
</article>

<section class="grid container">
   <div class="grid-12 grid-md-6 mb-medium">
      <div class="snackbar" role="alert"> This is an SnackBar alert — check it out! </div>
      <div class="snackbar" role="alert"> 
         This is an SnackBar alert — check it out!  This is an SnackBar — check it out! 
         <a href="#" class="snackbar__link text-link">Default</a>
      </div>
      <div class="snackbar snackbar-bg-error" role="alert"> This is an error SnackBar — check it out! </div>
      <div class="snackbar snackbar-bg-success" role="alert"> This is an success SnackBar — check it out! </div>
      <div class="snackbar snackbar-bg-warning" role="alert"> This is an warning SnackBar — check it out! </div>
      <div class="snackbar snackbar-bg-info" role="alert"> This is an info SnackBar — check it out! </div>
   </div>
</section>