<section class="container mt-medium mb-half">
    
    <div class="grid mb-base">
        <div class="grid-12">
            <h2 class="text-half">Badges</h2>
            <p>primary-base / standard</p>
        </div>
        <div class="grid-1">
            <div class="badge-box">
                <span class="badge badge-top-left primary-base">1</span>
            </div>
        </div>
        <div class="grid-1">
            <div class="badge-box">
                <span class="badge badge-top-left">1</span>
            </div>
        </div>
    </div>
    
    <div class="grid">
        <div class="grid-12 grid-sm-3">
            <p class="text-center mb-tiny">badge-top-left</p>
            <div class="badge-box">
                <span class="badge badge-top-left">1</span>
            </div>
        </div>
        <div class="grid-12 grid-sm-3">
            <p class="text-center mb-tiny">badge-top-right</p>
            <div class="badge-box">
                <span class="badge badge-top-right">2</span>
            </div>
        </div>
        <div class="grid-12 grid-sm-3">
            <p class="text-center mb-tiny">badge-bottom-left</p>
            <div class="badge-box">
                <span class="badge badge-bottom-left">3</span>
            </div>
        </div>
        <div class="grid-12 grid-sm-3">
            <p class="text-center mb-tiny">badge-bottom-right</p>
            <div class="badge-box">
                <span class="badge badge-bottom-right">333</span>
            </div>
        </div>
        
    </div>
    
</section>