<section class="grid container mt-medium mb-half">
  <div class="grid-12">
    <h2 class="text-half">Breadcrumbs</h2>
  </div>
  <div class="grid-12">
    <nav class="breadcrumb" aria-label="breadcrumb">
      <ol class="breadcrumb__list">
        <li class="breadcrumb__item">
          <a class="breadcrumb__link" href="#link-1">Link-1</a>
        </li>
        <li class="breadcrumb__item">
          <a class="breadcrumb__link" href="#link-2">Link-2</a>
        </li>
        <li class="breadcrumb__item">
          <a class="breadcrumb__link" href="#link-3">Link-3</a>
        </li>
        <li class="breadcrumb__item">
          <a class="breadcrumb__link" href="#" aria-current="page">current page</a>
        </li>
      </ol>
    </nav>
  </div>
</section>