<article class="container mt-large mb-large">
    <h2 class="tit-with-icon text-large"><span class="ico-touch"></span>Buttons</h2>
 </article>

<div class="grid container mb-base">
   <div class="grid-12 grid-sm-1">
      <button type="button" class="button primary">primary</button>
   </div>
   <div class="grid-12 grid-sm-1">
      <button type="button" class="button secondary text-primary-base">secondary</button>
   </div>
</div>


<div class="grid container mb-base">
   <div class="grid-12 grid-sm-1">
      <button type="button" class="button primary text-primary-dark">primary</button>
   </div>
   <div class="grid-12 grid-sm-1">
      <button type="button" class="button secondary text-grayscale-white">secondary</button>
   </div>
   <div class="grid-12 grid-sm-1">
      <button type="button" class="button primary disabled">disabled</button>
   </div>
</div>

<div class="grid container mb-base">
   <div class="grid-12 grid-sm-1">
      <button type="button" class="button primary small">Small</button>
   </div>
   <div class="grid-12 grid-sm-1">
      <button type="button" class="button secondary text-grayscale-white">Normal</button>
   </div>
   <div class="grid-12 grid-sm-6">
      <button type="button" class="button primary large">Button Large</button>
   </div>
</div>

 
 <div class="container mb-tiny">
    <button type="button" class="button primary outline mb-base">primary Outline</button>
    <button type="button" class="button secondary outline rounded text-grayscale-white mb-base">Secondary Outline</button>
    <button  class="button primary outline small mb-base">small outline</button>
 </div>
 
 <div class="container mb-base">
    <button type="button" class="button secondary text-grayscale-white mb-base">
       <span class="ico-account_circle"></span> icon left
    </button>
    <button type="button" class="button primary mb-base">
       icon right <span class="ico-account_circle"></span>
    </button>
 </div>
 
 
 <div class="container mb-base">
    <button type="button" class="button secondary rounded mb-base"> rounded </button>
    <button type="button" class="button primary rounded mb-base">
       rounded icon <span class="ico-account_circle"></span>
    </button>
    <button type="button" class="button secondary rounded disabled mb-base"> Disabled </button>
    <button type="button" class="button primary outline small rounded mb-base">small rounded</button>
 </div>
 
 
 <div class="container mb-medium">
    <button type="button" class="button primary block"> primary full width </button>
 </div>
 
 <div class="container mb-medium">
    <button type="button" class="button primary circle mb-base">
       <span class="ico-account_circle"></span>
    </button>
    <button type="button" class="button secondary circle text-grayscale-white mb-base">
       <span class="ico-menu"></span>
    </button>
    <a href="#" class="text-link">Default</a>
    <a href="#" class="text-link text-primary-base mb-base">Text Primary</a>
    <a href="#" class="text-link text-secondary-base mb-base">Text Secondary</a>
 </div>
 
 <div class="container mb-medium mt-medium">
    <button type="button" class="text-link text-primary-base mb-base">Default</button>
    <button type="button" class="text-link text-complementary-one mb-base">Text Primary</button>
    <button type="button" class="text-link text-secondary-base mb-base">Text Secondary</button>
 </div>
 
 <div class="container mb-medium">
    <p>Lorem ipsum dolor sit amet <a href="#">link</a> consectetur adipisicing elit. Suscipit voluptatum sapiente perspiciatis. Maiores repudiandae adipisci fugiat laborum natus fugit unde commodi aut molestias tempore, temporibus, assumenda nihil facilis harum exercitationem.</p>
 </div>