<div class="container mt-medium">

    <!-- Button Group -->
    <div class="grid mt-medium mb-half">
       
       <div class="grid-12">
          <h2 class="text-half">Button Group</h2>
          <p>primary-base / secondary-base / standard</p>
       </div>
 
       <div class="grid-12 grid-sm-6">
          <div class="button-group primary-base width-100">
             <input id="option4" name="btn-two" class="button-group__input" type="radio" checked>
             <label for="option4"  class="button-group__label width-100">Option 1</label>
             <input id="option5" name="btn-two" class="button-group__input" type="radio">
             <label for="option5"  class="button-group__label width-100">Option 2</label>
          </div>
       </div>
 
       <div class="grid-12 grid-sm-6">
          <div class="button-group secondary-base width-100">
             <input id="option6" name="btn-three" class="button-group__input" type="radio" checked>
             <label for="option6"  class="button-group__label width-100">Option 1</label>
             <input id="option7" name="btn-three" class="button-group__input" type="radio">
             <label for="option7"  class="button-group__label width-100">Option 2</label>
          </div>
       </div>
 
    </div>
    
    <!-- Radio Buttons -->
    <div class="grid mt-medium mb-half">
 
       <div class="grid-12">
          <h2 class="text-half">Radio Button</h2>
          <p>primary-base / secondary-base / standard</p>
       </div>
 
       <div class="grid-12 grid-sm-4">
          <div class="radio secondary-base">
             <label class="radio__label mb-thumb">
                <input type="radio" class="radio__input" name="radio-1" checked>
                Option 1
             </label>
             <label class="radio__label mb-thumb">
                <input type="radio" class="radio__input"  name="radio-1" >
                Option 2
             </label>
             <label class="radio__label mb-thumb">
                <input type="radio" class="radio__input" name="radio-1" disabled>
                Disable
             </label>
          </div>
       </div>
 
       <div class="grid-12 grid-sm-4">
          <div class="radio primary-base">
             <label class="radio__label mb-thumb">
                <input type="radio" class="radio__input" name="radio-2" checked>
                Option 1
             </label>
             <label class="radio__label mb-thumb">
                <input type="radio" class="radio__input"  name="radio-2" >
                Option 2
             </label>
             <label class="radio__label mb-thumb">
                <input type="radio" class="radio__input" name="radio-2" disabled>
                Disable
             </label>
          </div>
       </div>
       
       <div class="grid-12 grid-sm-4">
          <div class="radio">
             <label class="radio__label mb-thumb">
                <input type="radio" class="radio__input" name="radio-3" checked>
                Option 1
             </label>
             <label class="radio__label mb-thumb">
                <input type="radio" class="radio__input"  name="radio-3" >
                Option 2
             </label>
             <label class="radio__label mb-thumb">
                <input type="radio" class="radio__input" name="radio-3" disabled>
                Disable
             </label>
          </div>
       </div>
 
    </div>
    
    <!-- Checkbox -->
    <div class="grid mt-medium mb-half">
 
       <div class="grid-12">
          <h2 class="text-half">Checkbox</h2>
          <p>primary-base / secondary-base / standard</p>
       </div>
 
       <div class="grid-12 grid-sm-4">
          <div class="checkbox secondary-base">
             <label class="checkbox__label mb-thumb">One
                <input type="checkbox" class="checkbox__input" checked >
                <span class="checkbox__span"></span>
             </label>
             <label class="checkbox__label mb-thumb">Two
                <input type="checkbox" class="checkbox__input">
                <span class="checkbox__span"></span>
             </label>
             <!-- Checkbox disabled -->
             <label class="checkbox__label mb-thumb">Four
                <input type="checkbox" class="checkbox__input" disabled>
                <span class="checkbox__span checkbox__disabled"></span>
             </label>
          </div>
       </div>
       
       <div class="grid-12 grid-sm-4">
          <div class="checkbox primary-base">
             <label class="checkbox__label mb-thumb">One
                <input type="checkbox" class="checkbox__input" checked >
                <span class="checkbox__span"></span>
             </label>
             <label class="checkbox__label mb-thumb">Two
                <input type="checkbox" class="checkbox__input">
                <span class="checkbox__span"></span>
             </label>
             <!-- Checkbox disabled -->
             <label class="checkbox__label mb-thumb">Four
                <input type="checkbox" class="checkbox__input" disabled>
                <span class="checkbox__span checkbox__disabled"></span>
             </label>
          </div>
       </div>
       
       <div class="grid-12 grid-sm-4">
          <div class="checkbox">
             <label class="checkbox__label mb-thumb">One
                <input type="checkbox" class="checkbox__input" checked >
                <span class="checkbox__span"></span>
             </label>
             <label class="checkbox__label mb-thumb">Two
                <input type="checkbox" class="checkbox__input">
                <span class="checkbox__span"></span>
             </label>
             <!-- Checkbox disabled -->
             <label class="checkbox__label mb-thumb">Four
                <input type="checkbox" class="checkbox__input" disabled>
                <span class="checkbox__span checkbox__disabled"></span>
             </label>
          </div>
       </div>
 
    </div>
 
    <!-- Toggles -->
    <div class="grid mt-medium mb-half">
 
       <div class="grid-12">
          <h2 class="text-half">Toggle Buttons</h2>
          <p> primary-base / secondary-base / standard / disabled </p>
       </div>
 
       <div class="grid-12 grid-sm-4">
 
          <div class="toggle secondary-base mb-thumb">
             <input id="toogle-1" class="toggle__input" type="checkbox" />
             <label for="toogle-1" class="toggle__slider"></label>
             <label for="toogle-1" class="toggle__label">Color secondary</label>
          </div>
          
          <div class="toggle primary-base mb-thumb">
             <input id="toggle-2" class="toggle__input" type="checkbox" checked />
             <label for="toggle-2" class="toggle__slider"></label>
             <label for="toggle-2" class="toggle__label">Color primary</label>
          </div>
          
          <div class="toggle mb-thumb">
             <input id="toggle-3" class="toggle__input" type="checkbox" />
             <label for="toggle-3" class="toggle__slider"></label>
             <label for="toggle-3" class="toggle__label">Default</label>
          </div>
          
          <div class="toggle mb-thumb">
             <input id="toggle-4" class="toggle__input" type="checkbox" disabled/>
             <label for="toggle-4" class="toggle__slider"></label>
             <label for="toggle-4" class="toggle__label">Disabled</label>
          </div>
                   
 
       </div>
 
    </div>
    
    <!-- Switches -->
    <div class="grid mt-medium mb-half">
 
       <div class="grid-12">
          <h2 class="text-half">Switch</h2>
          <p> primary-base / secondary-base / standard / disabled </p>
       </div>
 
       <div class="grid-12 grid-sm-4">
 
          <div class="grid-12">
             <label class="switch secondary-base mb-thumb">
                <input class="switch__input" type="checkbox" checked >
                <span class="switch__slider"></span>
                <span class="switch__text off"> Si </span>
                <span class="switch__text on"> No </span>
             </label>
          </div>
          
          <div class="grid-12">
             <label class="switch primary-base mb-thumb">
                <input class="switch__input" type="checkbox" checked >
                <span class="switch__slider"></span>
                <span class="switch__text off"> Si </span>
                <span class="switch__text on"> No </span>
             </label>
          </div>
          
          <div class="grid-12">
             <label class="switch mb-thumb">
                <input class="switch__input" type="checkbox" checked >
                <span class="switch__slider"></span>
                <span class="switch__text off"> Si </span>
                <span class="switch__text on"> No </span>
             </label>
          </div>
          
          <div class="grid-12">
             <label class="switch mb-thumb">
                <input class="switch__input" type="checkbox" disabled >
                <span class="switch__slider"></span>
                <span class="switch__text off"> Si </span>
                <span class="switch__text on"> No </span>
             </label>
          </div>
 
       </div>
 
    </div>
 
 </div>