<article class="container mt-large mb-large">
  <h2 class="text-large tit-with-icon"> <span class="ico-layout"></span>Cards</h2>
</article>


<!-- SIMPLE CARDS -->

<section class="container mt-medium mb-medium">
  <div class="grid">
    <div class="grid-12">
       <h2 class="text-half text-grayscale-gray-6 mb-large">SIMPLE CARDS</h2>
    </div>

    <div class="grid-12 grid-md-4 grid-sm-6 grid-lg-4">
      <div class="cards cards--avatar">
        <div class="cards--header_avatar">
          <div class="d-flex ai-center">
            <img class="mr-tiny" src="{{root}}assets/img/avatar.svg" alt="avatar"> 
            <div>
              <p class="text-grayscale-base text-base text-bold">Tittle Cheesecake</p>
              <p class="text-grayscale-gray-4 text-tiny">Cheesy subtitle</p>
            </div>            
          </div>
        </div>
        <hr class="opacity-5 mb-tiny mt-base">
        <div class="cards__content">
          <p class="text-small text-grayscale-gray-5">
            Lancashire stilton caerphilly. Cheese triangles cheesy grin cheese strings danish 
            fontina cheesy feet cheeseburger croque monsieur ricotta.
          </p>
        </div>
    
        <hr class="opacity-5">

        <div class="cards__footer d-flex jc-space-between">
          <div>
            <button class="text-link text-controls-base text-base mr-tiny">Text link</button>
            <button class="text-link text-controls-base text-base mr-tiny">Text link</button>
          </div>
          <div>
            <span class="ico-favorite-black mr-tiny text-grayscale-gray-4"></span>
            <span class="ico-share text-grayscale-gray-4"></span>
          </div>
        </div>
      </div>
     
    </div>

    <div class="grid-12 grid-md-4 grid-sm-6 grid-lg-4">
      <div class="cards">
        <div class="cards--header">
          <div class="d-flex ai-center">
              <div>
                <p class="text-grayscale-base text-base text-bold">Tittle Cheesecake</p>
                <p class="text-grayscale-gray-4 text-tiny">Cheesy subtitle</p>
              </div>            
          </div>
        </div>
        <div class="cards__content">
          <p class="text-small text-grayscale-gray-5">
            Lancashire stilton caerphilly. Cheese triangles cheesy grin cheese strings danish 
            fontina cheesy feet cheeseburger croque monsieur ricotta.
          </p>
        </div>
        <hr class="opacity-7 mb-tiny">
        <div class="cards__footer d-flex jc-flex-end">
          <div>
            <span class="ico-favorite-black mr-tiny text-controls-base"></span>
            <span class="ico-share text-controls-base"></span>
          </div>
        </div>
      </div>
    </div>

    <div class="grid-12 grid-md-4 grid-sm-6 grid-lg-4">
      <div class="cards">
        <div class="cards--header">
          <div class="d-flex ai-center">
              <div>
                <p class="text-grayscale-base text-base text-bold">Tittle Cheesecake</p>
              </div>            
          </div>
        
        </div>
    
        <div class="cards__content">
          <p class="text-small text-grayscale-gray-5">
            Lancashire stilton caerphilly. Cheese triangles cheesy grin cheese strings danish 
            fontina cheesy feet cheeseburger croque monsieur ricotta.
          </p>
        </div>
        <hr class="opacity-7 mb-tiny">

        <div class="cards__footer d-flex jc-flex-start">
          <div>
            <button class="text-link text-controls-base text-base mr-tiny">Text link</button>
            <button class="text-link text-controls-base text-base mr-tiny">Text link</button>
          </div>
        </div>
      </div>  
    </div>

    <!-- MEDIA CARDS -->

    <div class="grid-12">
      <h2 class="text-half text-grayscale-gray-6 mb-large mt-large">MEDIA CARDS</h2>
    </div>

    <div class="grid-12 grid-md-3 grid-sm-6 grid-lg-3 cards cards--avatar">
      <div class="cards">
        <div class="cards--header_avatar">
          <div class="d-flex ai-center">
            <img class="mr-tiny" src="{{root}}assets/img/avatar-1.svg" alt="avatar">
            <div>
              <p class="text-grayscale-base text-base text-bold">Tittle Cheesecake</p>
              <p class="text-grayscale-gray-4 text-tiny">Cheesy subtitle</p>
            </div>            
          </div>        
        </div>
  
        <figure>
          <img class="width-100" src="{{root}}assets/img/image1.png" alt="image-card">
        </figure>
  
        <div class="cards__content">
          <p class="text-small text-grayscale-gray-5">
            Lancashire stilton caerphilly. Cheese triangles cheesy grin cheese strings danish 
            fontina cheesy feet cheeseburger croque monsieur ricotta.
          </p>
        </div>
        <hr class="width-100">
        <div class="cards__footer d-flex jc-space-between">
          <div>
            <button class="text-link text-controls-base text-base mr-tiny">Text link</button>
            <button class="text-link text-controls-base text-base mr-tiny">Text link</button>
          </div>
          <div>
            <span class="ico-favorite-black mr-tiny text-grayscale-gray-4"></span>
            <span class="ico-share text-grayscale-gray-4"></span>
          </div>
        </div>
      </div>
      
    </div>

    <div class="grid-12 grid-md-3 grid-sm-6 grid-lg-3">
      <div class="cards">
        <figure>
          <img class="width-100" src="{{root}}assets/img/image2.png" alt="image-card">
        </figure>

        <div class="cards__content">
          <div class="d-flex ai-center mb-base">
            <div>
              <p class="text-grayscale-base text-base text-bold">Tittle Cheesecake</p>
              <p class="text-grayscale-gray-4 text-tiny">Cheesy subtitle</p>
            </div>            
          </div> 
          <p class="text-small text-grayscale-gray-5">
            Lancashire stilton caerphilly. Cheese triangles cheesy grin cheese strings danish 
            fontina cheesy feet cheeseburger croque monsieur ricotta.
          </p>       
        </div>
  

        <hr class="width-100">
        <div class="cards__footer d-flex jc-flex-end">
          <div>
            <span class="ico-favorite-black mr-tiny text-controls-base"></span>
            <span class="ico-share text-controls-base"></span>
          </div>
        </div>
      </div>
   
    </div>

    <div class="grid-12 grid-md-3 grid-sm-6 grid-lg-3">
      <div class="cards">
        <figure>
          <img class="width-100" src="{{root}}assets/img/image3.png" alt="image-card">
        </figure>

        <div class="cards__content">
          <div class="d-flex ai-center mb-base">
            <div>
              <p class="text-grayscale-base text-base text-bold">Cheesecake cheese</p>
            </div>            
          </div> 
          <p class="text-small text-grayscale-gray-5">
            Lancashire stilton caerphilly. Cheese triangles cheesy grin cheese strings danish 
            fontina cheesy feet cheeseburger croque monsieur ricotta.
          </p>       
        </div>
  

        <hr class="width-100">
        <div class="cards__footer d-flex jc-flex-start">
          <div>
            <button class="text-link text-controls-base text-base mr-tiny">Text link</button>
            <button class="text-link text-controls-base text-base mr-tiny">Text link</button>
          </div>
        </div>
      </div>
   
    </div>

    <div class="grid-12 grid-md-3 grid-sm-6 grid-lg-3">
      <div class="cards">
        <figure>
          <img class="width-100" src="{{root}}assets/img/image4.png" alt="image-card">
        </figure>

        <div class="cards__content">
          <div class="d-flex ai-center mb-base">
            <div>
              <p class="text-grayscale-base text-base text-bold">Cheesecake cheese</p>
            </div>            
          </div> 
          <p class="text-small text-grayscale-gray-5">
            Lancashire stilton caerphilly. Cheese triangles cheesy grin cheese strings danish 
            fontina cheesy feet cheeseburger croque monsieur ricotta.
          </p>       
        </div>
  
      </div>
   
    </div>

  </div>
</section>