<div class="card p-medium">
    <h3 class="mb-small">Nueva tarjeta</h3>
    <p class="mb-small">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum facilis quibusdam odio placeat excepturi, cumque sunt magnam laudantium sequi sapiente nobis minus quam id, rem molestiae exercitationem accusantium, eos officia?</p>
    <button class="button primary rounded outline small mb-base mr-tiny">Call to action</button>
    <button class="button primary rounded small">Call to action</button>
</div>