<section class="container mt-medium mb-half">
   <div class="grid mb-base">
      <div class="grid-12">
         <h2 class="text-half">Carousel</h2>

         <p>Adjust Container 16:9</p>
         <div class="mb-huge mt-large">
            <section class="glide" data-adjust="aspect-16:9">
               <div class="glide__track" data-glide-el="track">
                  <ul class="glide__slides">
                     <li class="glide__slide">
                        <div class="glide__inner">
                           <img src="./assets/img/carousel/01.jpg" alt="img" />
                        </div>
                     </li>
                     <li class="glide__slide">
                        <div class="glide__inner">
                           <img src="./assets/img/carousel/02.jpg" alt="img" />
                        </div>
                     </li>
                     <li class="glide__slide">
                        <div class="glide__inner">
                           <img src="./assets/img/carousel/03.jpg" alt="img" />
                        </div>
                     </li>
                     <li class="glide__slide">
                        <div class="glide__inner">
                           <img src="./assets/img/carousel/04.jpg" alt="img" />
                        </div>
                     </li>
                     <li class="glide__slide">
                        <div class="glide__inner">
                           <img src="./assets/img/carousel/05.jpg" alt="img" />
                        </div>
                     </li>
                     <li class="glide__slide">
                        <div class="glide__inner">
                           <img src="./assets/img/carousel/05.jpg" alt="img" />
                        </div>
                     </li>
                  </ul>
               </div>
               <div class="glide__bullets" data-glide-el="controls[nav]"></div>
            </section>
         </div>

         <p>Adjust Container 4:3</p>
         <div class="mb-huge mt-large">
            <section class="glide" data-adjust="aspect-4:3">
               <div class="glide__track" data-glide-el="track">
                  <ul class="glide__slides">
                     <li class="glide__slide">
                        <div class="glide__inner">
                           <img
                              src="./assets/img/carousel/4-3-1.jpg"
                              alt="img"
                           />
                        </div>
                     </li>
                     <li class="glide__slide">
                        <div class="glide__inner">
                           <img
                              src="./assets/img/carousel/4-3-2.jpg"
                              alt="img"
                           />
                        </div>
                     </li>
                     <li class="glide__slide">
                        <div class="glide__inner">
                           <img
                              src="./assets/img/carousel/4-3-3.jpg"
                              alt="img"
                           />
                        </div>
                     </li>
                     <li class="glide__slide">
                        <div class="glide__inner">
                           <img
                              src="./assets/img/carousel/4-3-4.jpg"
                              alt="img"
                           />
                        </div>
                     </li>
                     <li class="glide__slide">
                        <div class="glide__inner">
                           <img
                              src="./assets/img/carousel/4-3-5.jpg"
                              alt="img"
                           />
                        </div>
                     </li>
                  </ul>
               </div>
               <div class="glide__bullets" data-glide-el="controls[nav]"></div>
            </section>
         </div>

         <p>Adjust Auto</p>
         <div class="mb-huge mt-large">
            <section class="glide">
               <div class="glide__track" data-glide-el="track">
                  <ul class="glide__slides">
                     <li class="glide__slide">
                        <div class="glide__inner">
                           <div class="glide__info">
                              <div class="text-center">
                                 <img
                                    src="assets/img/avatar-1.svg"
                                    alt="avatar"
                                    class="mb-small"
                                 />
                                 <h5 class="mb-small text-primary-base">
                                    I love cheese, specialy little
                                 </h5>
                                 <p class="text-small text-grayscale-gray-5">
                                    Manchego emmental cheddar. Dolcelatte swiss
                                    say cheese pecorino rubber cheese.
                                 </p>
                              </div>
                           </div>
                        </div>
                     </li>
                     <li class="glide__slide">
                        <div class="glide__inner">
                           <div class="glide__info">
                              <div class="text-center">
                                 <img
                                    src="assets/img/avatar.svg"
                                    alt="avatar"
                                    class="mb-small"
                                 />
                                 <h5 class="mb-small text-primary-base">
                                    Me too... I love cheese
                                 </h5>
                                 <p class="text-small text-grayscale-gray-5">
                                    Lancashire stilton caerphilly. Cheese
                                    triangles cheesy grin cheese strings danish
                                    fontina.
                                 </p>
                              </div>
                           </div>
                        </div>
                     </li>
                  </ul>
               </div>
               <div class="glide__bullets" data-glide-el="controls[nav]"></div>
            </section>
         </div>
      </div>
   </div>
</section>

<script></script>
