<article class="container mt-large mb-large">
    <h2 class="tit-with-icon text-large"><span class="ico-touch"></span>Collapsible</h2>
 </article>

<!-- collapsible 1 open -->

<article class="collapsible container">
    <div class="collapsible__header">
        <button class="collapsible__header--button button secondary rounded" data-collapsed="colapsableOne">Collapsible Open</button>
    </div>
    <div class="collapsible__content" id="colapsableOne">
        <div class="collapsible__item">
            <h2 class="text-half">Title</h2>
            <p>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of
                evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley
                of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike
                down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My
                brothers. And you will know My name is the Lord when I lay My vengeance upon thee.</p>
        </div>
        <div class="collapsible__item">
            <h2>Title</h2>
            <p>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of
                evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley
                of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike
                down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My
                brothers. And you will know My name is the Lord when I lay My vengeance upon thee.</p>
        </div>
    </div>
    <hr>
</article>

<!-- collapsible 2 close -->

<article class="collapsible container">
    <div class="collapsible__header">
        <button class="collapsible__header--button button primary rounded" data-collapsed="colapsableTwo">Collapsible Close</button>
    </div>
    <div class="collapsible__content closed" data-collapsed="false" id="colapsableTwo">
        <div class="collapsible__item">
            <h2 class="text-half">Title</h2>
            <p>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of
                evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley
                of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike
                down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My
                brothers. And you will know My name is the Lord when I lay My vengeance upon thee.</p>
        </div>
        <div class="collapsible__item">
            <h2>Title</h2>
            <p>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of
                evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley
                of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike
                down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My
                brothers. And you will know My name is the Lord when I lay My vengeance upon thee.</p>
        </div>
    </div>
    <hr>
</article>

<!-- collapsible arrow 1 open -->

<article class="collapsible container">
    <div class="collapsible__header">
        <button class="collapsible__header--button text-link text-primary-base arrow rotate" data-collapsed="colapsableThree">
            <p class="text-button">Collapsible Open</p>
            <span class="ico-arrow_up text-half"></span>
        </button>
    </div>
    <div class="collapsible__content" id="colapsableThree">
        <div class="collapsible__item">
            <h2 class="text-half">Title</h2>
            <p>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of
                evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley
                of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike
                down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My
                brothers. And you will know My name is the Lord when I lay My vengeance upon thee.</p>
        </div>
        <div class="collapsible__item">
            <h2>Title</h2>
            <p>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of
                evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley
                of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike
                down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My
                brothers. And you will know My name is the Lord when I lay My vengeance upon thee.</p>
        </div>
    </div>
    <hr>
</article>

<!-- collapsible arrow 2 close -->

<article class="collapsible container">
    <div class="collapsible__header">
        <button class="collapsible__header--button text-link text-primary-base arrow" data-collapsed="colapsableFour">
            <p class="text-button">Collapsible close</p>
            <span class="ico-arrow_up text-half"></span>
        </button>
    </div>
    <div class="collapsible__content closed" data-collapsed="false" id="colapsableFour">
        <div class="collapsible__item">
            <h2 class="text-half">Title</h2>
            <p>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of
                evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley
                of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike
                down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My
                brothers. And you will know My name is the Lord when I lay My vengeance upon thee.</p>
        </div>
        <div class="collapsible__item">
            <h2>Title</h2>
            <p>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of
                evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley
                of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike
                down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My
                brothers. And you will know My name is the Lord when I lay My vengeance upon thee.</p>
        </div>
    </div>
    <hr>
</article>