<article class="container mt-large mb-large">
    <h2 class="text-large tit-with-icon"> <span class="ico-invert_colors"></span> Colors</h2>
 </article>

<section class="grid container">
    <div class="grid-12 mb-base">
        <h2 class="text-half">Primary</h2>
        <p class="mb-base">Base | Light | Dark </p>
        <span class="bg-primary-base color text-grayscale-white">Base</span>
        <span class="bg-primary-light color">Light</span>
        <span class="bg-primary-dark color text-grayscale-white">Dark</span>
        <div class="huge">

        </div>
    </div>
    <div class="grid-12 mb-base">
        <h2 class="text-half">Secondary</h2>
        <p class="mb-base">Base | Light | Dark </p>
        <span class="bg-secondary-base color">Base</span>
        <span class="bg-secondary-light color">Light</span>
        <span class="bg-secondary-dark color text-grayscale-white">Dark</span>
    </div>
    <div class="grid-12 mb-base">
        <h2 class="text-half">Complementary</h2>
        <p class="mb-base">One | Two | Three </p>
        <span class="bg-complementary-one color">One</span>
        <span class="bg-complementary-two color text-grayscale-white">Two</span>
        <span class="bg-complementary-three color text-grayscale-base">Three</span>
    </div>
    <div class="grid-12 mb-base">
        <h2 class="text-half">Alerts</h2>
        <p class="mb-base">Sucess | Error | Warning | Info </p>
        <span class="bg-alerts-success color text-grayscale-white">Success</span>
        <span class="bg-alerts-error color text-grayscale-white">Error</span>
        <span class="bg-alerts-warning color">Warning</span>
        <span class="bg-alerts-info color text-grayscale-white">Info</span>
    </div>
    <div class="grid-12 mb-base">
        <h2 class="text-half">Grayscale</h2>
        <p class="mb-base"> White | Base | Black</p>
        <span class="bg-grayscale-base color text-grayscale-white">#1b1b1b</span>
        <span class="bg-grayscale-gray-7 color text-grayscale-white">#4a4a4a</span>
        <span class="bg-grayscale-gray-6 color text-grayscale-white">#333</span>
        <span class="bg-grayscale-gray-5 color text-grayscale-white">#666</span>
        <span class="bg-grayscale-gray-4 color">#999</span>
        <span class="bg-grayscale-gray-3 color">#ccc</span>
        <span class="bg-grayscale-gray-2 color">#eee</span>
        <span class="bg-grayscale-gray-1 color">#fbfbfb</span>
    </div>
</section>