<article class="container mt-large mb-large">
    <h2 class="text-large tit-with-icon"> <span class="ico-invert_colors"></span> Colors Split</h2>
 </article>

<section class="grid container">
    <div class="grid-12 mb-base">
        <h2 class="text-half">Primary Base Split</h2>
        <p class="mb-base">0-1-2-3-4-(B)-5-6-7-8-9</p>
        <div class="d-flex">
            <span class="bg-primary-base-0 box text-grayscale-white">0</span>
            <span class="bg-primary-base-1 box text-grayscale-white">1</span>
            <span class="bg-primary-base-2 box text-grayscale-white">2</span>
            <span class="bg-primary-base-3 box text-grayscale-white">3</span>
            <span class="bg-primary-base-4 box text-grayscale-white">4</span>
    
            <span class="bg-primary-base box">B</span>
    
            <span class="bg-primary-base-5 box">5</span>
            <span class="bg-primary-base-6 box">6</span>
            <span class="bg-primary-base-7 box">7</span>
            <span class="bg-primary-base-8 box">8</span>
            <span class="bg-primary-base-9 box">9</span>
        </div>
    </div>
    <div class="grid-12 mb-base">
        <h2 class="text-half">Secondary Base Split</h2>
        <p class="mb-base">0-1-2-3-4-(B)-5-6-7-8-9</p>
        <div class="d-flex">
            <span class="bg-secondary-base-0 box text-grayscale-white">0</span>
            <span class="bg-secondary-base-1 box text-grayscale-white">1</span>
            <span class="bg-secondary-base-2 box text-grayscale-white">2</span>
            <span class="bg-secondary-base-3 box text-grayscale-white">3</span>
            <span class="bg-secondary-base-4 box text-grayscale-white">4</span>
    
            <span class="bg-secondary-base box">B</span>
    
            <span class="bg-secondary-base-5 box">5</span>
            <span class="bg-secondary-base-6 box">6</span>
            <span class="bg-secondary-base-7 box">7</span>
            <span class="bg-secondary-base-8 box">8</span>
            <span class="bg-secondary-base-9 box">9</span>
        </div>
    </div>

</section>