<!-- inicio grid -->

<article class="container mt-large mb-large">
    <h2 class="text-large tit-with-icon"> <span class="ico-grid"></span> Layout Grid</h2>
 </article>

<article class="grid container card-grid">
    <!-- layout 1 -->
    <div class="grid-12">
       <div class="card">
          <p>grid-12</p>
       </div>
    </div>
    <!-- layout 2 -->
    <div class="grid-12 grid-md-6 grid-lg-6">
       <div class="card">
          <p>grid-12 grid-md-6 grid-lg-6</p>
       </div>
    </div>
    <div class="grid-12 grid-md-6 grid-lg-6">
       <div class="card">
          <p>grid-12 grid-md-6 grid-lg-6</p>
       </div>
    </div>
 
    <!-- layout 3 -->
    <div class="grid-12 grid-md-6 grid-lg-4">
       <div class="card">
          <p>grid-12 grid-md-6 grid-lg-4</p>
       </div>
    </div>
    <div class="grid-12 grid-md-6 grid-lg-4">
       <div class="card">
          <p>grid-12 grid-md-6 grid-lg-4</p>
       </div>
    </div>
    <div class="grid-12 grid-md-6 grid-lg-4">
       <div class="card">
          <p>grid-12 grid-md-6 grid-lg-4</p>
       </div>
    </div>
 
    <!-- layout 4 -->
    <div class="grid-12 grid-md-6 grid-lg-3">
       <div class="card">
          <p>grid-12 grid-md-6 grid-lg-3</p>
       </div>
    </div>
 
    <div class="grid-12 grid-md-6 grid-lg-3">
       <div class="card">
          <p>grid-12 grid-md-6 grid-lg-3</p>
       </div>
    </div>
 
    <div class="grid-12 grid-md-6 grid-lg-3">
       <div class="card">
          <p>grid-12 grid-md-6 grid-lg-3</p>
       </div>
    </div>
 
    <div class="grid-12 grid-md-6 grid-lg-3">
       <div class="card">
          <p>grid-12 grid-md-6 grid-lg-3</p>
       </div>
    </div>
 
    <!-- layout 5 -->
    <div class="grid-12 grid-md-6 grid-lg-2">
       <div class="card">
          <p>grid-12 grid-md-6 grid-lg-2</p>
       </div>
    </div>
 
    <div class="grid-12 grid-md-6 grid-lg-2">
       <div class="card">
          <p>grid-12 grid-md-6 grid-lg-2</p>
       </div>
    </div>
 
    <div class="grid-12 grid-md-6 grid-lg-2">
       <div class="card">
          <p>grid-12 grid-md-6 grid-lg-2</p>
       </div>
    </div>
 
    <div class="grid-12 grid-md-6 grid-lg-2">
       <div class="card">
          <p>grid-12 grid-md-6 grid-lg-2</p>
       </div>
    </div>
    <div class="grid-12 grid-md-6 grid-lg-2">
       <div class="card">
          <p>grid-12 grid-md-6 grid-lg-2</p>
       </div>
    </div>
    <div class="grid-12 grid-md-6 grid-lg-2">
       <div class="card">
          <p>grid-12 grid-md-6 grid-lg-2</p>
       </div>
    </div>
 </article>