<div class="container mt-medium">
 
    <div class="grid">
      <div class="grid-12">
         <h2 class="text-half">INPUTS</h2>
         <p>Inputs form : standard / underline / outline / disabled</p>
      </div>
       <div class="grid-12 grid-sm-4">
          <div class="input">      
             <input id="stan" class="input__input" type="text" placeholder="Ej.:"/>
             <label for="stan" class="input__label">Label</label>
             <small class="input__error">Required</small>
          </div>
       </div>
 
       <div class="grid-12 grid-sm-4">
          <div class="input input--underline primary-base">      
             <input id="under" class="input__input" type="text" placeholder="Ej.:" required />
             <label for="under" class="input__label">Label</label>
             <small class="input__error">Required</small>
          </div>
       </div>
      
       <div class="grid-12 grid-sm-4">
          <div class="input input--outline secondary-base">      
             <input id="out" class="input__input" type="text" placeholder="Ej.:" required />
             <label for="out" class="input__label">Label</label>
             <small class="input__error">Required</small>
          </div>
       </div>
 
       <div class="grid-12 grid-sm-4">
          <div class="input">      
             <input id="dis" class="input__input" type="text" placeholder="Disabled" disabled />
             <label for="dis" class="input__label">Label</label>
             <small class="input__error">Required</small>
          </div>
       </div>
 
       <div class="grid-12 grid-sm-4">
          <div class="input input--underline primary-base">      
             <input id="underDis" class="input__input" type="text" placeholder="Ej.:" required disabled />
             <label for="underDis" class="input__label">Label</label>
             <small class="input__error">Required</small>
          </div>
       </div>
 
       <div class="grid-12 grid-sm-4">
          <div class="input input--outline primary-base">      
             <input id="outDis" class="input__input" type="text" placeholder="Ej.:" disabled />
             <label for="outDis" class="input__label">Label</label>
             <small class="input__error">Required</small>
          </div>
       </div>
 
       
       <!-- NUMBER -->
       
       <div class="grid-12">
          <h2 class="text-thumb">Type Numbers</h2>
          <p>default / underline / outline</p>
       </div>
 
       <div class="grid-12 grid-sm-4">
          <div class="input primary-base">      
             <input id="number" class="input__input" type="number" placeholder="Ej.:" disabled />
             <label for="number" class="input__label">Number</label>
             <small class="input__error">Required</small>
          </div>
       </div>
       
       <div class="grid-12 grid-sm-4">
          <div class="input input--underline primary-base">      
             <input id="underBase" class="input__input" type="number" placeholder="Ej.:" />
             <label for="underBase" class="input__label">Number</label>
             <small class="input__error">Required</small>
          </div>
       </div>
 
       <div class="grid-12 grid-sm-4">
          <div class="input input--outline primary-base">      
             <input id="outBase" class="input__input" type="number" placeholder="Ej.:" />
             <label for="outBase" class="input__label">Number</label>
             <small class="input__error">Required</small>
          </div>
       </div>
 
       <!-- DATE -->
 
       <div class="grid-12">
          <h2 class="text-thumb">Type Date</h2>
          <p> default / underline / outline</p>
       </div>
 
       <div class="grid-12 grid-sm-4">
          <div class="input">      
             <input id="stanDate" class="input__input" type="date" placeholder="Ej.:" required />
             <label for="stanDate" class="input__label">Date</label>
             <small class="input__error">Message error</small>
          </div>
       </div>
       
       <div class="grid-12 grid-sm-4">
          <div class="input input--underline secondary-light">      
             <input id="underDate" class="input__input" type="date" placeholder="Ej.:" required />
             <label for="underDate" class="input__label">Date</label>
             <small class="input__error">Message error</small>
          </div>
       </div>
       
       <div class="grid-12 grid-sm-4">
          <div class="input input--outline primary-base">      
             <input id="outDate" class="input__input" type="date" placeholder="Ej.:" required />
             <label for="outDate" class="input__label">Date</label>
             <small class="input__error">Message error</small>            
          </div>
       </div>
 
       <!-- DATE -->
 
       <div class="grid-12">
          <h2 class="text-thumb">Type Time</h2>
          <p> default / underline / outline</p>
       </div>
 
       <div class="grid-12 grid-sm-4">
          <div class="input">      
             <input id="stanTime" class="input__input" type="time" placeholder="Ej.:" required />
             <label for="stanTime" class="input__label">Time</label>
             <small class="input__error">Message error</small>
          </div>
       </div>
 
       <div class="grid-12 grid-sm-4">
          <div class="input input--underline secondary-light">      
             <input id="underTime" class="input__input" type="time" placeholder="Ej.:" required />
             <label for="underTime" class="input__label">Time</label>
             <small class="input__error">Message error</small>
          </div>
       </div>
 
       <div class="grid-12 grid-sm-4">
          <div class="input input--outline primary-base">      
             <input id="outTime" class="input__input" type="time" placeholder="Ej.:" required />
             <label for="outTime" class="input__label">Time</label>
             <small class="input__error">Message error</small>            
          </div>
       </div>
 
    </div>
 
 </div>