<article class="container mt-large mb-large">
    <h2 class="tit-with-icon text-large"><span class="ico-touch"></span>Modals</h2>
</article>

<section class="grid container">
   <div class="grid-12 mb-medium">
      <p class="mb-base"> SIMPLE </p>

      <!-- Modals Triggers -->
      <button
         type="button"
         class="button primary modal-trigger"
         data-popup-trigger="modal-1">
         Simple modal
      </button>
      
      <button
         type="button"
         class="button secondary modal-trigger"
         data-popup-trigger="modal-2">
         Simple modal
      </button>

      <!-- Modals -->
      <div class="modal" data-popup-modal="modal-1">
         <div class="modal__popup">
            <i class="ico-close modal__close"></i>
            <div class="modal__content text-center">

               <h2 class="text-thumb mb-small text-primary-base"> 
                  Modal One Title 
               </h2>

               <p class="mb-half"> 
                  Body base consectetur adipisicing elit. Suscipit voluptatum sapiente perspiciatis. 
                  Maiores repudiandae adipisci fugiat laborum natus fugit unde commodi aut.
               </p>

               <div class="modal__buttons">
                  <button class="button primary outline rounded mr-base">
                     Action
                  </button>
                  <button class="button primary rounded ml-base">
                     Action
                  </button>
               </div>

            </div>
         </div>
      </div>

      <div class="modal" data-popup-modal="modal-2">
         <div class="modal__popup">
            <i class="ico-close modal__close"></i>
            <div class="modal__content text-center">

               <h2 class="text-thumb mb-small text-primary-base"> 
                  Modal Two Title 
               </h2>

               <p class="mb-half"> 
                  Body base consectetur adipisicing elit. Suscipit voluptatum sapiente perspiciatis. 
                  Maiores repudiandae adipisci fugiat laborum natus fugit unde commodi aut.
               </p>

               <div class="modal__buttons">
                  <button class="button primary rounded">
                     Action
                  </button>
               </div>

            </div>
         </div>
      </div>

   </div>
</section>


<section class="grid container">
   <div class="grid-12 mb-medium">
      <p class="mb-base"> WITH ICON </p>

      <!-- Modals Triggers -->
      <button
         type="button"
         class="button primary modal-trigger"
         data-popup-trigger="modal-3">
         Simple modal
      </button>
      
      <button
         type="button"
         class="button secondary modal-trigger"
         data-popup-trigger="modal-4">
         Simple modal
      </button>

      <!-- Modals -->
      <div class="modal" data-popup-modal="modal-3">
         <div class="modal__popup">
            <i class="ico-close modal__close"></i>
            <div class="modal__content text-center">

               <div class="modal__icon">
                  <span class="ico-report_problem text-secondary-base"></span>
               </div>

               <h2 class="text-thumb mb-small text-primary-base"> 
                  Modal Three Title 
               </h2>

               <p class="mb-half"> 
                  Body base consectetur adipisicing elit. Suscipit voluptatum sapiente perspiciatis. 
                  Maiores repudiandae adipisci fugiat laborum natus fugit unde commodi aut.
               </p>

               <div class="modal__buttons">
                  <button class="button primary outline rounded mr-base">
                     Action
                  </button>
                  <button class="button secondary rounded ml-base">
                     Action
                  </button>
               </div>

            </div>
         </div>
      </div>

      <div class="modal" data-popup-modal="modal-4">
         <div class="modal__popup">
            <i class="ico-close modal__close"></i>
            <div class="modal__content text-center">

               <div class="modal__icon">
                  <span class="ico-check_circle_outline text-complementary-one"></span>
               </div>

               <h2 class="text-thumb mb-small text-primary-base"> 
                  Modal Four Title 
               </h2>

               <p class="mb-half"> 
                  Body base consectetur adipisicing elit. Suscipit voluptatum sapiente perspiciatis. 
                  Maiores repudiandae adipisci fugiat laborum natus fugit unde commodi aut.
               </p>

               <div class="modal__buttons">
                  <button class="button primary rounded">
                     Action
                  </button>
               </div>

            </div>
         </div>
      </div>

   </div>
</section>


