<section class="grid container">
    <div class="grid-12">
        <h2 class="text-half">Progress elements</h2>
    </div>
    <div class="grid-12">
        <h2 class="text-thumb">Spinners</h2>
        <p>primary-base / secondary-base / standard</p>
    </div>
    <!-- spinners -->
    <div class="grid-1">
        <span class="progress progress--circular primary-base"></span>
    </div>
    <div class="grid-1">
        <span class="progress progress--circular secondary-base"></span>
    </div>
    <div class="grid-1">
        <span class="progress progress--circular"></span>
    </div>
    <div class="grid-12">
        <h2 class="text-thumb">Linear progress</h2>
        <p>primary-base / secondary-base / standard</p>
    </div>
    <!-- linear progress -->
    <div class="grid-12">
        <div class="progress progress--linear primary-base">
            <span class="progress__bar" style="width:25%"></span>
        </div>
    </div>
    <div class="grid-12">
        <div class="progress progress--linear secondary-base">
            <span class="progress__bar" style="width:50%"></span>
        </div>
    </div>
    <div class="grid-12">
        <div class="progress progress--linear progress--linear-dummy">
            <span class="progress__bar"></span>
        </div>
    </div>
    
</section>