
<div class="container mt-medium">
 
    <div class="grid mt-medium mb-half">
       <div class="grid-12">
          <h2 class="text-half">SELECTS</h2>
          <p>Inputs form : standard / underline / outline</p>
       </div>
    
       <div class="grid-12 grid-sm-4">
          <div class="select">  
             <label class="select__label" for="e-select">Label</label>
             <select class="select__select" id="e-select" required >
                <option value="" selected="" disabled>Seleccione una opcion</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
             </select>
          </div>
       </div>
       
       <div class="grid-12 grid-sm-4">
          <div class="select select--underline primary-base">  
             <label class="select__label" for="e-select">Label</label>
             <select class="select__select" id="e-select" required >
                <option value="" selected="" disabled>Seleccione una opcion</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
             </select>
          </div>
       </div>
 
       <div class="grid-12 grid-sm-4">
          <div class="select select--outline secondary-base">  
             <label class="select__label" for="e-select">Label</label>
             <select class="select__select" id="e-select" required >
                <option value="" selected="" disabled>Seleccione una opcion</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
             </select>
          </div>
       </div>
    </div>
   
    <div class="grid mt-medium mb-half">
       <div class="grid-12">
          <h2 class="text-half">Select + Input</h2>
       </div>
    
       <div class="grid-12">
          <div class="select select--outline primary-base">  
             <label class="select__label" for="e-select">Label</label>
             <select class="select__select" id="e-select" required >
                <option value="" selected="" disabled>Seleccione</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
             </select>
          </div>
       </div>
 
       <div class="grid-12 grid-sm-4">
          <div class="input input--outline secondary-base">      
             <input class="input__input" type="text" placeholder="Ej.:" required />
             <label class="input__label">Label</label>
             <small class="input__error">Required</small>
          </div>
       </div>
 
 
    </div>
 
    <div class="grid mt-medium mb-half">
       <div class="grid-12">
          <h2 class="text-half">Search</h2>
       </div>
    
 
       <div class="grid-12">
          <div class="search">
             <input type="text" class="search__input" placeholder="Buscar?">
             <button type="button" class="search__button">
               <span class="ico-search"></span>
            </button>
          </div>
       </div>
 
 
    </div>
 
 </div>