<section class="container mt-medium mb-half">
   <div class="grid mb-base">
      <div class="grid-12">
         <h2 class="text-half">Tabs</h2>

         <section class="mt-medium mb-medium">
            <!-- Tabs 1 -->
            <div class="tabs">
               <div class="tabs__header">
                  <div data-tab="1" class="tabs__label">TAB 1</div>
                  <div data-tab="2" class="tabs__label active">TAB 2</div>
                  <div data-tab="3" class="tabs__label">TAB 3</div>
               </div>
               <div class="tabs__container">
                  <div class="tabs__panel">Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft . Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</div>
                  <div class="tabs__panel active">Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia</div>
                  <div class="tabs__panel">Tmagna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr</div>
               </div>
            </div>
   
            <!-- Tabs 2 -->
            <div class="tabs">
               <div class="tabs__header">
                  <div data-tab="1" class="tabs__label active">TAB 1</div>
                  <div data-tab="2" class="tabs__label">TAB 2</div>
                  <div data-tab="3" class="tabs__label">TAB 3</div>
                  <div data-tab="4" class="tabs__label">TAB 4</div>
               </div>
               <div class="tabs__container">
                  <div class="tabs__panel active">Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft . Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</div>
                  <div class="tabs__panel">Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia</div>
                  <div class="tabs__panel">Tmagna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr</div>
                  <div class="tabs__panel">Vegan fanny pack odio velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable blog sartorial beard ut assumenda labore aesthetic magna delectus mollit. Art party scenester stumptown, tumblr</div>
               </div>
            </div>
   
            <!-- Tabs 3 -->
            <div class="tabs">
               <div class="tabs__header">
                  <div data-tab="1" class="tabs__label active">TAB 1</div>
                  <div data-tab="2" class="tabs__label">TAB 2</div>
                  <div data-tab="3" class="tabs__label">TAB 3</div>
                  <div data-tab="4" class="tabs__label">TAB 4</div>
                  <div data-tab="5" class="tabs__label">TAB 5</div>
                  <div data-tab="6" class="tabs__label">TAB 6</div>
               </div>
               <div class="tabs__container">
                  <div class="tabs__panel active">Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft . Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</div>
                  <div class="tabs__panel">Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia</div>
                  <div class="tabs__panel">Tmagna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr</div>
                  <div class="tabs__panel">Vegan fanny pack odio velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable blog sartorial beard ut assumenda labore aesthetic magna delectus mollit. Art party scenester stumptown, tumblr</div>
                  <div class="tabs__panel">Praesent dapibus, neque id cursus faucibus, tortor neque egestas auguae, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</div>
                  <div class="tabs__panel">Praesent dapibus, neque id cursus faucibus, tortor neque egestas auguae, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</div>
               </div>
            </div>
         </section>

      </div>
   </div>
</section>