<article class="container mt-large mb-large">
    <h2 class="text-large tit-with-icon"><span class="ico-text_format"></span> Text format</h2>
 </article>
 
 <article class="container">
    <ul>
        <li>
            <h1 class="text-huge">Heading 1</h1>
        </li>
        <li>
            <h2 class="text-xlarge">Heading 2</h2>
        </li>
        <li>
            <h3 class="text-large text-primary-light">Heading 3</h3>
        </li>
        <li>
            <h4 class="text-medium mb-small text-primary-dark">Heading 4</h4>
        </li>
        <li>
            <h5 class="text-half mb-small text-primary-base">Heading 5</h5>
        </li>
        <li>
            <h6 class="text-thumb mb-small">Heading 6</h6>
        </li>
        <li>
            <p class="text-base mb-small"> Body base consectetur adipisicing elit. Suscipit voluptatum sapiente perspiciatis. Maiores repudiandae adipisci fugiat laborum natus fugit unde commodi aut molestias tempore, temporibus, assumenda nihil facilis harum exercitationem.</p>
        </li>
        <li>
            <p class="text-small mb-small">Body small consectetur adipisicing elit. Suscipit voluptatum sapiente perspiciatis. Maiores repudiandae adipisci fugiat laborum natus fugit unde commodi aut molestias tempore, temporibus, assumenda nihil facilis harum exercitationem.</p>
        </li>
        <li>
            <p class="text-tiny mb-medium">Body tiny consectetur adipisicing elit. Suscipit voluptatum sapiente perspiciatis. Maiores repudiandae adipisci fugiat laborum natus fugit unde commodi aut molestias tempore, temporibus, assumenda nihil facilis harum exercitationem.</p>
        </li>
    </ul>
 </article>
 
 
 <div class="container mb-xlarge">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    <p class="text-left text-primary-base">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    <p class="text-center text-secondary-base">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    <p class="text-right text-complementary-one">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    <p class="text-justify text-grayscale-gray-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque, iure. Mollitia, nisi repudiandae architecto officia, reiciendis odio psum dolor sit amet consectetur adipisicing elit. Cumque, iure. Mollitia, nisi repudiandae architecto officia, odio at expedita fugit perspiciatis ipsam minima labore ab</p>
 </div>