<article class="container mt-large mb-large">
    <h2 class="tit-with-icon text-large"><span class="ico-build"></span>Utilities</h2>
</article>


<div class="grid container mb-medium">
    <div class="grid-12 mb-half">
        <h2 class="text-half">Width</h2>
        <p>width-10 / width-50 / width-100</p>
    </div>
    <div class="grid-12">
        <div class="width-10 mb-small bg-primary-base"> 10% </div>
        <div class="width-50 mb-small bg-primary-dark"> 50%</div>
        <div class="width-100 mb-small bg-secondary-base"> 100% </div>
    </div>
    <div class="grid-12 mb-half">
        <h2 class="text-half">Opacity</h2>
        <p>opacity-10 / opacity-5 / opacity-1</p>
    </div>
    <div class="grid-12">
        <div class="width-100 mb-small bg-grayscale-base text-grayscale-white opacity-10"> Opacity 1 </div>
        <div class="width-90 mb-small bg-grayscale-base text-grayscale-white opacity-9"> Opacity .9 </div>
        <div class="width-80 mb-small bg-grayscale-base text-grayscale-white opacity-8"> Opacity .8 </div>
        <div class="width-70 mb-small bg-grayscale-base text-grayscale-white opacity-7"> Opacity .7 </div>
        <div class="width-60 mb-small bg-grayscale-base text-grayscale-white opacity-6"> Opacity .6 </div>
        <div class="width-50 mb-small bg-grayscale-base text-grayscale-white opacity-5"> Opacity .5 </div>
        <div class="width-40 mb-small bg-grayscale-base text-grayscale-white opacity-4"> Opacity .4 </div>
        <div class="width-30 mb-small bg-grayscale-base text-grayscale-white opacity-3"> Opacity .3 </div>
        <div class="width-20 mb-small bg-grayscale-base text-grayscale-white opacity-2"> Opacity .2 </div>
        <div class="width-10 mb-small bg-grayscale-base text-grayscale-white opacity-1"> Opacity .1 </div>
    </div>
</div>